.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header .navbar-brand .del {
  text-decoration: line-through;
}

.header .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header .navbar .navbar-brand:hover {
  color: #ffcc00;
}

.header .navbar-dark .navbar-nav .nav-link {
  font-size: 1rem;
  margin: 0px 12px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
}

.header .navbar-dark .navbar-nav .nav-link:hover {
  color: #212529;
  background-color: #ffcc00;
  border-radius: 5px;
}

.header .navbar-brand p {
  border: #ffffff solid 3px;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  margin: 0px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #584df111;
  /*tira al footer al final de la pagina*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body h1 {
  text-align: center;
  padding: 10px;
  font-size: 2.2rem;
  font-family: "Roboto Slab", serif;
}

body p {
  font-family: "Roboto Slab", serif;
}

body .img-fluid {
  max-width: 100%;
  height: auto;
}

/*home*/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-attachment: fixed;
  padding: 50px;
}

.home-txt {
  color: #000000;
}

.home-txt h1 {
  font-size: 2.2rem;
}

.home-background .del {
  text-decoration: line-through;
}

.home-background .home-logo {
  font-family: "Roboto Slab", serif;
  font-size: 3.5rem;
}

.home-background .home-p {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Roboto Slab", serif;
}

.topicos {
  background-color: #000000;
}

.topicos__container {
  text-align: center;
  color: #ffffff;
}

.topicos__container--n {
  font-size: 3.5rem;
  margin: 0px;
}

.topicos__container--txt {
  font-size: 1.2rem;
  margin: 0px 0 10px 0;
}

.carousel {
  width: 100%;
  height: 500px;
  margin: auto;
}

@media (min-width: 481px) and (max-width: 767px) {
  /* desde 481 hasta 767 */
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 470px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 50px;
  }
  .home-txt {
    margin-top: 40px;
  }
  .home-txt h1 {
    font-size: 3em;
  }
  .home-txt .home-logo {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 768px) {
  /* min-width = desde */
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: cover;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    padding: 50px;
  }
  .home-txt {
    margin-top: 40px;
  }
  .home-txt h1 {
    font-size: 6em;
  }
  .home-txt .home-logo {
    font-size: 7em;
  }
  .carousel {
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .carousel-inner {
    border: #000000 solid 5px;
  }
}

/*NOSOTROS*/
.nosotros__container1 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__container1 img {
  width: 100%;
}

.nosotros__container1 p {
  font-size: 1.2rem;
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 12px;
  text-align: center;
  border: #000000 solid 3px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nosotros__container2 {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros__container2 img {
  width: 100%;
}

.nosotros__container2 p {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 13px;
  text-align: center;
  border: #000000 solid 3px;
}

/*Tatuajes*/
.tatuajes__container {
  display: -ms-grid;
  display: grid;
  background-color: #000000;
  border: #000000 solid 3px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: repeat 6, auto;
      grid-template-rows: repeat 6, auto;
  gap: 3px;
}

.tatuajes__container img {
  width: 100%;
  height: auto;
}

.tatuajes__container img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all, .10s;
  transition: all, .10s;
}

@media screen and (min-width: 768px) {
  .tatuajes__container {
    display: -ms-grid;
    display: grid;
    border: #000000 solid 3px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .tatuajes__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

/*EQUIPO*/
.col {
  border: #000000 solid 4px;
}

.col__txt h2 {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.col__txt p {
  text-align: center;
  padding: 15px;
}

.col__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.col__img p {
  background-color: #000000;
  color: #F99D35;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 3px 0px 0px 0px;
}

/*CONTACTO*/
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.contacto__form {
  width: 60%;
  padding: 15px;
  background-color: #ffcc00;
  margin: 20px 0px 200px 0px;
}

.container__button--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa__box {
  opacity: 0.5;
}

.mapa__box:hover {
  opacity: 1;
}

/*FOOTER*/
/* maps */
.icon__red-wp {
  color: green;
}

.icon__red-fb {
  color: blue;
}

.icon__red-ig {
  color: #e22b90;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #000000;
  margin-top: auto;
}

.footer__p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}

.footer__ul li {
  font-size: 1.5rem;
  list-style: none;
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */