*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #584df111;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    h2 {
        text-align: center;
        padding: 10px;
        font-size: 2.2rem;
        font-family: $tipografiaPrincipal;
    }
    .img-fluid{
        max-width: 100%;
        height: auto;
    }
}


/*NOSOTROS*/

@import "header";
@import "vars";

.nosotros {
    background-color: $colorPrincipal;
    height: 88vh;
    &__txt{
        width: auto;
        height: auto;
        text-align: center;
        align-items: center;
    }
    &__txt--content{
        margin: 12px;
        font-family: $tipografiaPrincipal;
    }
}
