/*NOSOTROS*/

@import "header";
@import "vars";

.nosotros {
    background-color: $colorPrincipal;
    height: 88vh;
    & h2{
        text-align: center;
    padding: 10px;
    font-size: 2.2rem;
    font-family: 'Roboto Slab', serif;
    }
    &__txt{
        width: auto;
        height: auto;
        text-align: center;
        align-items: center;
    }
    &__txt--content{
        margin: 12px;
        font-family: 'Roboto Slab', serif;
    }
    &__img img{
        width: 80%;
        height: auto;
    }
        

}
